
*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blink{
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker{
50%{
  opacity: 0;
}
}
body{
  background-color: whitesmoke;
}
/* NAVBAR */
.navbar-list{
  background: rgb(209, 15, 15);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 17px 0px;
}
.navbar-item{
  margin: 0 20px;
  list-style-type: none;
}
.toggle{
  list-style-type: none;
display: none;
margin: 0 20px;
}
.navbar-link{
  text-decoration: none;
  font-weight: bold;
}
.navbar-link:hover{
  color: white;
}
.logo{
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;
  margin-right: auto;
  margin-left: 50px;
}
.logo a{
  text-decoration: none;
}
.navbar-button{
  font-size: 1em;
  background: yellowgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 8px 15px;
}
.navbar-button:hover{
  background-color: whitesmoke;
  color: red;
}

@media screen and (max-width: 768px) {

  .navbar-list{
  flex-wrap: wrap;
  }
  .toggle{
    display: block;
  }
  .navbar-item{
    display: none;
    text-align: right;
    margin: 20px;
    width: 100%;
    margin-right: 50px;
  }

  .navbar-button{
    display: flex;
    width: 20%;
    justify-content: center;
    margin-left: auto;
  }
  .active{
    display: block;
  }
}

/* Title */
.title{
  padding: 50px 50px;
}
.title-container{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
}
.character{
  flex: 1;
  text-align: center;
  margin: auto;
}
.character-img{
width: 500px;
border-radius: 3%;
transition: 2s; 
cursor: pointer;
}
.character-img:hover{
  border-radius: 100%;
}
.big-heading{
  flex: 1;
  margin-left: 30px;
  margin: auto;
}
.big-heading h1{
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
  color: red;
}
.big-heading p{
  font-size: 1em;
  margin-bottom: 50px;
}
.explore-button{
  background-color: yellowgreen;
  border: none;
  border-radius: 12px;
  font-size: 1em;
  font-weight: bold;
  margin-right: 20px;
  padding: 20px 50px;
}
.explore-button a{
  text-decoration: none;
  color: black;
}
.explore-button:hover{
background-color: red;
}
.explore-button a:hover{
  color: aliceblue;
}
@media screen and (max-width: 1024px) {
  .big-heading{
    margin-left: 30px;
  }
  @media screen and (max-width: 912px) {
    .title-container{
      flex-direction: column;
    }
    .big-heading{
      margin: 0;
      text-align: center;
      margin-top: 30px;
    }
}
}
/*Collection */
.collection{
  margin-top: 25px;
  background-color: red;
  text-align: center;
  padding: 50px 0px;
}
.collection h2{
  color: black;
  font-size: 4em;
  margin-bottom: 30px;
}
.collection-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.collection-card{
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  margin-top: 20px;
  background:white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.collection-card:hover{
  box-shadow: 0 0 15px greenyellow;
}
.image-box{
  width: 310px;
  height: 300px;
  /* border-radius: 20px 20px 0 0; */
  overflow: hidden;
}
.image-box img{
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: 0.5s ease-in-out;
}
.image-box:hover img{
  transform: scale(1.2);
}
.collection-card h3{
  color: black;
  font-weight: bold;
  margin: 5px 0 10px 0px;
  text-align: center;
}
.spesies{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0;
  text-align: center;
}
.tipe{
  color: black;
  font-weight: bold;
  font-size: larger;
  margin: 10px 10px 0 ;
  text-align: center;
}
.card-button{
  background: yellowgreen;
  padding: 15px 80px;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 20px 20px;
  border: 0;
}
.card-button:hover{
  background: red;
box-shadow:0 0 15px gray;
}
/* ASIDE */
aside{
  background: red;
  justify-content: center;
  display: flex;
}
.biography-card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}
.biography-card:hover{
  box-shadow: 0 0 15px yellowgreen;
}
.profile-img{
  border-radius: 10px 10px 0 0;
}
.biography-card h3{
  color: black; 
  font-weight: bold;
  margin: 5px 0 10px;
}
.contact{
  margin: 20px 10px;
}
.social-media{
  margin: 0 5px;
}
/* FOOTER */
footer{
  background-color: white;
  text-align: center;
  padding: 30px 0;
}
p{
  color: black;
}
hr{
  color: black;
}